body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f9fbff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 20px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.text-block h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.text-block p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

/* Кнопки */
.btn-main {
    background-color: #48b88e;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

/* Панель поиска */
.search-bar {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    display: flex;
    gap: 15px;
    align-items: center;
}

.search-input {
    flex: 2;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.search-input input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
}

select {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.btn-search {
    background-color: #40c4aa;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}